extends ../layouts/base

block content
  div(class="content is-large")
    h1
      .is-orange Activate your account
  div.content
    h3 If you are already a member of the Solvers Club you may need to activate your account to obtain your login details for the Members Area. (This only applies to members registered prior to November 1st 2021).
    if (message)
      .notification.is-success
        =message
    br

    div.box
      form(action="/user/activate" method="POST")
        .field
          label.label(for="username") Email
            input.input(type='email' name="username" id="username" required)
        br
        h3 By activating your account you agree to our:

        .field
          h3
            input.checkbox(type='checkbox' name="accept_tc" id="accept_tc" required value="True")
            a(href="/tc" target="new")=" Terms and Conditions "

        .field
          h3
            input.checkbox(type='checkbox' name="accept_pg" id="accept_pg" required value="True")
            a(href="privacy" target="new")=" Privacy Guidelines "

        br
        .field
          .control
            button.button.is-link Activate Account
