extends ../layouts/base

block content
  div.content
    div(class="content is-large")
      h1
        .is-orange Join the Club

    h3 Before you apply, take a minute to consider the following, in order to avoid wasting everybody’s time.
    h3 It takes a significant commitment to participate in competitions, therefore, a considerable level of dedication is required from our members.
    h3 Please, do not apply if:
    ul
      li
        h3 You do not enjoy sharing your passion with others, whether as part of a team or a community.
      li
        h3 You don’t see the point in competing, and would rather just cruise along at your own speed.
      li
        h3 You like taking shortcuts and are prepared to do whatever it takes to win.
    h3 If you are still interested, then we would like to hear more from you!
    h1 Start your application
      a(href="/register")=" here"
