extends ../layouts/base

block content
  h1.title="Join The Club"
  br
  p.subtitle="Thinking about joining Solvers Club?"
  p.subtitle="Great! But first, we’d like to make sure we are a right fit for each other."
  p Solvers Club is a community of people united by their passion to compete to solve complex challenges using their skills and ingenuity. We form teams to work intensely and share scarce resources amongst us. Therefore, a minimum level of trust is required between our members.
  br
  p It takes a significant commitment to participate in these competitions. So, before applying, we’d like to draw your attention to the following, in order to avoid wasting everybody’s time.
  br
  p Please, do not apply if:
    ul
      li You do not enjoy sharing your passion with others, whether as part of a team or a community.
      li You don’t see the point in competing with others, and would rather just cruise along at your own speed.
      li You like taking shortcuts and are prepared to do whatever it takes to win.
  br
  p If you are still interested, then we would like to hear more from you.
  br
  p.subtitle="Please access our application "
    a(href="/register") here
