extends ../layouts/base
include ../mixins/_loginForm

block content
  div(class="content is-large")
    h1
      .is-orange Log In

  if (message)
    .notification
      =message
  br
  div.content
    div.box
      +loginForm
      br
      small
        a(href="/forgot") Lost your password?
