extends ../layouts/base
block content
  p="Search or browse through the active Solvers Club Members Directory to find other members who share your passion for challenges and whom you might want to form a team with."
  br
  iframe(src='https://solvers-club-members-directory.super.site/', frameborder=`0`, onmousewheel=``, width=`100%`, height=`533px`, style=`background: transparent; border: 0px solid #ccc;`)
