.container
  div.footer
    .has-text-centered
      div.columns
        div.column
          small
            a.smaller(href="https://www.solversclub.com") SolversClub.com
        div.column
          small
            a.smaller(href="mailto:info@solversclub.com") Contact us
        div.column
          small
            a(href="/tc") Terms & Conditions
        div.column
          small
            a.smaller(href="/privacy") Privacy Policy
