

div.footer(class="content has-text centered")
  div.columns
    div.column
      small © Solvers Club 2021
    div.column
      small
        a(href="/tc") Terms & Conditions
    div.column
      small
        a.smaller(href="/privacy") Privacy Policy
    div.column
      small
        a.smaller(href="https://www.solversclub.com") SolversClub.com
    div.column
      small
        a.smaller(href="mailto:info@solversclub.com") info@solversclub.com
