nav.navbar.is-footer
  .container
    .navbar-menu
      .navbar-start
        a.navbar-item(href="http://www.solversclub.com", target="new") SolversClub.com
        a.navbar-item(href="/update") Update Profile
        a.navbar-item(href="/forgot") Change Password
        a.navbar-item(href="/delete") Delete Profile
        span.navbar-item="© Solvers Club 2021"
