.container
  div(class="content has-text centered")
    div.columns
      div.column
        span.smaller © Solvers Club 2021
      div.column
        a.smaller(href="/tc") Terms & Conditions
      div.column
        a.smaller(href="/privacy") Privacy Policy
      div.column
        a.smaller(href="https://www.solversclub.com") SolversClub.com
      div.column
        a.smaller(href="mailto:info@solversclub.com") info@solversclub.com
