nav.navbar.is-solvers(role="navigation", aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item(href="/")
        img(src="/images/logoweb2.png")
      a.navbar-burger(role="button", data-target="navMenu", aria-label="menu", aria-expanded="false")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    .navbar-menu(id="navMenu")
      .navbar-start
        a.navbar-item(href="/profile") PROFILE
        a.navbar-item(href="/members") MEMBERS
        a.navbar-item(href="/discovery") CHALLENGES
        a.navbar-item(href="https://airtable.com/embed/shrlY6GiBMqaniaRK" target="new") RESOURCES
        a.navbar-item(href="/logout") LOGOUT
