include ../mixins/_loginForm
.container
  nav.navbar(role="navigation", aria-label="main navigation")
      div.navbar-brand
        .navbar-item
          a(href="/")
            img(src="/images/logoweb4.png")
        a.navbar-burger(role="button", data-target="navMenu", aria-label="menu", aria-expanded="false")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      div.navbar-menu(id="navMenu")
        div.navbar-start
          a.navbar-item(href="/join") Join the Club
          a.navbar-item(href="/profile") My Profile
          a.navbar-item(href="/members") Directory
          a.navbar-item(href="/discovery") Challenges
          a.navbar-item(href="/resources") Resources
