mixin loginForm
  form(action="/user/auth" method="POST")
    .field
      label.label(for="email") Email
      .control
        input.input(type='email' name="email" id="email" placeholder='Email')

    .field
      label.label(for="password") Password
      .control
        input.input(type='password' name="password" id="password" placeholder='Password')


    .field
      .control
        button.button.is-link Log In
