@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Miriam+Libre:wght@400;700&display=swap');

// Set your brand colors
$blue-dark: #00406C;
$orange: #C99600;
$grey: #878786;
$grey-light: #ededed;
$purple: #8A4D76;
$white: #ffffff;
$black: #000000;

// Update Bulma's global variables
//$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $black;
$grey-light: $grey;
$primary: $blue-dark;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$body-color:$blue-dark;
$control-border-width: 1px;
$input-border-color: $grey-light;
$input-shadow: none;
$content-heading-color: $blue-dark;


// Import only what you need from Bulma
@import "~bulma/bulma";
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/_all.sass";
@import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/_all.sass";
@import "./node_modules/bulma/sass/layout/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";

// .block {
//   text-align: center;
// };



iframe {
  width: 640px;
  height: 338px;
};

strong {
  color: $blue-dark;
}

h2,h3,h4,h5,h6,p,nav,footer,label,td {
  font-family: "Libre Franklin", sans-serif;
  color: $blue-dark;
}

h1 {
  font-family:"Miriam Libre",sans-serif;
}

td {
  vertical-align: bottom;
}


.value,
.label,
.title,
.is-text-button
 {
  color:$blue-dark;
  font-weight:bolder;
  font-family: "Libre Franklin", sans-serif;
}

.cat {
  color:$grey;
  font-size: smaller;
}

.card {
  min-height:415px;
}

.is-orange {
  color: $orange;
}
.is-blue-dark {
  color: $blue-dark;
}

.is-grey {
  color: $grey;
}

.is-text-button {
  border:0;
  background-color: $white;
  padding:0;
}

/*=============================================
=            #PAGINATIONS         =
=============================================*/


.pages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: $size-4;
  margin-bottom: $size-4;
}

.paginate-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paging-input {
  display: flex;
  align-items: center;

  input {
    width: $size-1;
    margin-left: $size-6;
    margin-right: $size-6;
  }
}
  .header-image {
    align-content: center;
  }

/*=====  End of #PAGINATIONS  ======*/


//tabs

.tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

.tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

.tabs-with-content .tab-content.is-active {
  display: block;
}

//NAVIGATION
.navbar {
  background-color: $white;
}

.navbar-item,
.navbar-link {
  color: $blue-dark;
  font-weight: 800;
}

.navbar-item img {
  max-height: 40px;
}
