@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue-dark: #00406C;
$orange: #C99600;
$grey: #878786;
$grey-light: #ededed;
$purple: #8A4D76;
$white: #ffffff;
$black: #000000;

// Update Bulma's global variables
//$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $black;
$grey-light: $grey;
$primary: $blue-dark;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$body-color:$blue-dark;
$control-border-width: 1px;
$input-border-color: $grey-light;
$input-shadow: none;


// Import only what you need from Bulma
@import "~bulma/bulma";
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/_all.sass";
@import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/_all.sass";
@import "./node_modules/bulma/sass/layout/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";


li {
  line-height: 2.0;
}

iframe {
    height: 600px;
};


.label,
.title,
.subtitle {
  color:$blue-dark;
  font-weight:bolder;
}

.value {
  color: $blue-dark;
}

.cat {
  color:$grey-light;
}

.card {
  min-height:325px;
}

/*=============================================
=            #PAGINATIONS         =
=============================================*/

.pages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: $size-4;
  margin-bottom: $size-4;
}

.paginate-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paging-input {
  display: flex;
  align-items: center;

  input {
    width: $size-1;
    margin-left: $size-6;
    margin-right: $size-6;
  }
}
  .header-image {
    align-content: center;
  }

/*=====  End of #PAGINATIONS  ======*/

.navbar.is-solvers {
  background-color: #fff;
  color: #00406C;
  font-weight: bolder;}
  .navbar.is-solvers .navbar-brand > .navbar-item,
  .navbar.is-solvers .navbar-brand .navbar-link {
    color: #00406C; }
  .navbar.is-solvers .navbar-item img {
    max-height: 120px; }
  .navbar.is-solvers .navbar-brand > a.navbar-item:focus,
  .navbar.is-solvers .navbar-brand > a.navbar-item:hover,
  .navbar.is-solvers .navbar-brand > a.navbar-item.is-active,
  .navbar.is-solvers .navbar-brand .navbar-link:focus,
  .navbar.is-solvers .navbar-brand .navbar-link:hover,
  .navbar.is-solvers .navbar-brand .navbar-link.is-active {
    background-color: #ffffff;
    color: #C99600; }
  .navbar.is-solvers .navbar-brand .navbar-link::after {
    border-color: #fff; }
  .navbar.is-solvers .navbar-burger {
    color: #00406C; }
  @media screen and (min-width: 1024px) {
    .navbar.is-solvers .navbar-start > .navbar-item,
    .navbar.is-solvers .navbar-start > .navbar-link,
    .navbar.is-solvers .navbar-end > .navbar-item,
    .navbar.is-solvers .navbar-end .navbar-link {
      color: #00406C; }
    .navbar.is-solvers .navbar-start > a.navbar-item:focus,
    .navbar.is-solvers .navbar-start > a.navbar-item:hover,
    .navbar.is-solvers .navbar-start > a.navbar-item.is-active,
    .navbar.is-solvers .navbar-start .navbar-link:focus,
    .navbar.is-solvers .navbar-start .navbar-link:hover,
    .navbar.is-solvers .navbar-start .navbar-link.is-active,
    .navbar.is-solvers .navbar-end > a.navbar-item:focus,
    .navbar.is-solvers .navbar-end > a.navbar-item:hover,
    .navbar.is-solvers .navbar-end > a.navbar-item.is-active,
    .navbar.is-solvers .navbar-end .navbar-link:focus,
    .navbar.is-solvers .navbar-end .navbar-link:hover,
    .navbar.is-solvers .navbar-end .navbar-link.is-active {
      background-color: #fff;
      color: #00406C; }
    .navbar.is-solvers .navbar-start .navbar-link::after,
    .navbar.is-solvers .navbar-end .navbar-link::after {
      border-color: #fff; }
    .navbar.is-solvers .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-solvers .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-solvers .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: #f0f0f0;
      color: #00406C; }
    .navbar.is-solvers .navbar-dropdown a.navbar-item.is-active {
      background-color: #ffffff;
      color: #00406C; } }

//footer
  @media screen and (min-width: 1024px) {
    .navbar.is-footer .navbar-start > .navbar-item,
    .navbar.is-footer .navbar-start > .navbar-link,
    .navbar.is-footer .navbar-end > .navbar-item,
    .navbar.is-footer .navbar-end .navbar-link {
      color: #C99600;
      font-size: smaller;}
    .navbar.is-footer .navbar-start > a.navbar-item:focus,
    .navbar.is-footer .navbar-start > a.navbar-item:hover,
    .navbar.is-footer .navbar-start > a.navbar-item.is-active,
    .navbar.is-footer .navbar-start .navbar-link:focus,
    .navbar.is-footer .navbar-start .navbar-link:hover,
    .navbar.is-footer .navbar-start .navbar-link.is-active,
    .navbar.is-footer .navbar-end > a.navbar-item:focus,
    .navbar.is-footer .navbar-end > a.navbar-item:hover,
    .navbar.is-footer .navbar-end > a.navbar-item.is-active,
    .navbar.is-footer .navbar-end .navbar-link:focus,
    .navbar.is-footer .navbar-end .navbar-link:hover,
    .navbar.is-footer .navbar-end .navbar-link.is-active {
      background-color: #fff;
      color: #000000; }
    .navbar.is-footer .navbar-start .navbar-link::after,
    .navbar.is-footer .navbar-end .navbar-link::after {
      border-color: #fff; }
    .navbar.is-footer .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-footer .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-footer .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: #f0f0f0;
      color: #C99600; }
    .navbar.is-footer .navbar-dropdown a.navbar-item.is-active {
      background-color: #ffffff;
      color: #C99600; } }

//tabs

.tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

.tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

.tabs-with-content .tab-content.is-active {
  display: block;
}
